<ion-view>
		<div class="list card has-subheader">
		    <label class="item item-input item-stacked-label">
				<span class="input-label">Where did it happen?</span>
				<input type="text" placeholder="District/Barangay">
				<input type="text" placeholder="City">
				<input type="text" placeholder="Province">
			</label>
			
			<div id="where" class="item item-image">
				<img src="img/skyline.jpg" alt="When>
			</div>
			
			<a href="#what">
			<button class="button button-block button-positive">
					Next: How
			</button></a>
		</div>
</ion-view>