<ion-view view-title="Disclose">
  <ion-nav-buttons side="primary">
    <button class="button button-icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
	<div class="list card row">
		<div class="item item-image col-50">
			<img src="img/ionic.png" alt="When">
		</div>
		<div class="col-50">
			<label class="item item-input item-stacked-label">
			<span class="input-label">Ano ang nangyari?</span>
			<input type="text" placeholder="Cat-calling o sumisitsit sa kanto">
			</label>
		</div>
	</div>

	<div class="list card row">
		<div class="item item-image col-50">
			<img src="img/skyline.jpg" alt="When">
		</div>
		<div class="col-50">
		<label class="item item-input item-stacked-label">
		<span class="input-label">Kailan ito nangyari?</span>
		<input type="text" placeholder="May 14, 2016">
		</label>
		</div>
	</div>

	<div class="list card row">
		<div class="item item-image col-50">
			<img src="img/skyline.jpg" alt="When">
		</div>
    	<div class="col-50">
	    <label class="item item-input item-stacked-label">
		<span class="input-label">Saan Ito Nangyari?</span>
		<input type="text" placeholder="Street Address">
		<input type="text" placeholder="District/Barangay">
		<input type="text" placeholder="City/Municipality">
		<input type="text" placeholder="Province">
		</label>		
		</div>
	</div>

	<div class="list card row">
		<div class="item item-image col-50">
			<img src="img/skyline.jpg" alt="When">
		</div>
  	    <div class="col-50">
		<label class="item item-input item-stacked-label">
		<span class="input-label">I-kwento Paano nangyari?</span>
		<input type="text" placeholder="How It Happened: People Involved: Witnesses:">
		</label>
		</div>
	</div>
	
	<button class="button button-block button-positive">Submit Now.</button>
	</ion-content>
	
</ion-view>