<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Home" icon="ion-ios-keypad"
    href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
	
  <ion-tab title="Alert" icon="ion-disc"
    href="#/tab/alert">
    <ion-nav-view name="alert-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Disclose" icon="ion-ios-location"
    href="#/tab/disclose">
    <ion-nav-view name="disclose-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Prevent" icon="ion-ios-list"
    href="#/tab/list">
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>